<h1 class="title-home">AttenteUrgence</h1>

  <div class="background">
    <%= image_tag 'attenteurgence.jpg', alt: 'attenteurgence', class: 'img-homepage' %>
  </div>

  <div class="form-container-home">



    <%= form_with url: hospitals_path, method: :get, local: true, html: { class: "center-form center-field" } do %>
      <div class="center-form dropdown">
        <%= select_tag :categories, options_for_select([['Catégorie', '']] + ['Cardiologie', 'Pneumologie', 'Traumatologie', 'Neurologie', 'Gastroentérologie', 'Pédiatrie', 'Gynécologiques', 'Psychiatrie'].map { |c| [c, c] }, params[:categories]), id: 'categories' %>
      </div>





      <div class="center-form">
        <label for="adresse"></label>
        <%= text_field_tag :address, params[:address], id: 'adresse', placeholder: 'Adresse' %>
      </div>
      <div class="btn-form-home">
        <%= submit_tag 'Rechercher', class: "btn-primary-home" %>
      </div>
    <% end %>
  </div>
