
<div class="main-container-pixel7 main-container-content">


  <!--Titre-->
  <h1>Exemple titre H1</h1>

  <!--Titre 2-->
  <h2>Exemple titre H2</h2>

 <!-- Titre 3-->
 <h3>Exemple titre H3</h3>

  <!--Texte-->
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate nisl a ex dignissim, in mollis enim pretium.</p>

  <!--bouton primary-->

  <%= link_to "Primary", "#", class: "btn-primary" %>

  <!--bouton secondary-->

  <%= link_to "Secondary", "#", class: "btn-secondary" %>

   <!--bouton third-->

  <%= link_to "Third", "#", class: "btn-third" %>


  <!--cards-->

  <h1>Résultats</h1>
   <div class="cards-hospital">
    <div class="card-category-hospital-test no-padding">
      <div class="d-flex flex-column">

          <img class="img-test" src="https://media.istockphoto.com/id/1419877131/fr/photo/fa%C3%A7ade-dun-h%C3%B4pital-dans-un-quartier-commercial-et-daffaires-sous-ciel-bleu.jpg?s=612x612&w=0&k=20&c=hEb9h2vQ-4YQUyAik2xfojHWCHF-aYOprnKTU9Q_gyM=" width="100%" height="auto">
        <div class="hopital-details d-flex justify-content-between px-3">
          <div class="d-flex flex-column">
              <h2>Hopital 1</h2>
              <p><i class="fa-solid fa-location-dot"></i> 123 rue de l'hopital</p>
          </div>

            <div class="d-flex justify-content-around flex-column">
              <p><i class="fa-solid fa-person-walking"></i> 2km</p>
              <p><i class="fa-solid fa-solid fa-clock"></i> 1h30</p>
              <p><i class="fa-solid fa-solid fa-map"></i> 45min</p>
              </div>
        </div>
      </div>

            <div class="d-flex justify-content-around">
              <%= link_to "Détails", "#", class: "btn-primary-home-test" %>
              <%= link_to "Choisir", "#", class: "btn-secondary-home-test" %>
            </div>
      </div>

<%# <div class="cards-hospital"> %>
  <div class="cards-hospital">
    <div class="card-category-hospital">

      <div class="d-flex flex-column align-items-center justify-content-center">

        <!--Nom de l'hopital -->
        <h2>Hopital 2</h2>

        <!--div avec deux div pour l'image à gauche et le texte et les elements à l'interieur à droite-->

        <div class="hopital-details d-flex flex-column align-items-center justify-content-center">

          <!--image-->

          <div class='img d-flex justify-content-center'>
            <%= image_tag 'logo.png', alt: 'Logo', style: 'width: 100%; height: auto;' %>
          </div>

          <!--div avec le texte et les elements à l'interieur-->


            <div>
              <!--texte-->
              <p><i class="fa-solid fa-location-dot"></i> 123 rue de l'hopital</p>

            </div>

          </div>

        </div>

            <div class="d-flex justify-content-around">
              <!--texte-->
              <p><i class="fa-solid fa-person-walking"></i> 2km</p>
              <p><i class="fa-solid fa-solid fa-clock"></i> 1h30</p>
              <p><i class="fa-solid fa-solid fa-map"></i> 45min</p>
            </div>

        <!--div boutons containers avec les deux boutons à l'interieur-->

            <div class="d-flex justify-content-around">
              <%= link_to "Détails", "#", class: "btn-secondary" %>
              <%= link_to "Choisir", "#", class: "btn-third" %>
            </div>


        </div>
      </div>


      <div class="cards-hospital">
          <div class="card-category-hospital">
              <div class="d-flex flex-column align-items-center justify-content-center">

        <!--Nom de l'hopital -->
                <h2>Hopital 3</h2>

        <!--div avec deux div pour l'image à gauche et le texte et les elements à l'interieur à droite-->
                <div class="hopital-details d-flex flex-column align-items-center justify-content-center">

                  <!--image-->
                  <div class='img d-flex justify-content-center'>
                    <%= image_tag 'logo.png', alt: 'Logo', style: 'width: 100%; height: auto;' %>
                  </div>
                  <!--div avec le texte et les elements à l'interieur-->


                    <div>
                      <!--texte-->
                      <p><i class="fa-solid fa-location-dot"></i> 123 rue de l'hopital</p>

                    </div>

                  </div>

                </div>

                  <div class="d-flex justify-content-around">
                    <!--texte-->
                    <p><i class="fa-solid fa-person-walking"></i> 2km</p>
                    <p><i class="fa-solid fa-solid fa-clock"></i> 1h30</p>
                    <p><i class="fa-solid fa-solid fa-map"></i> 45min</p>
                  </div>

        <!--div boutons containers avec les deux boutons à l'interieur-->

                  <div class="d-flex justify-content-around">
                    <%= link_to "Détails", "#", class: "btn-secondary" %>
                    <%= link_to "Choisir", "#", class: "btn-third" %>
                  </div>


      </div>
      </div>

</div>

</div>
