
<!--cards-->
 <div data-controller="geoloc">
</div>

   <div class="cards-hospital">

    <% @hospitals.each do |hospital| %>

      <div class="card-category-hospital">

        <div class="d-flex flex-column align-items-center justify-content-center">


          <!--Nom de l'hopital -->
          <h3 class="pt-3"><%= hospital.name %></h3>

          <!--div avec deux div pour l'image à gauche et le texte et les elements à l'interieur à droite-->

          <div class="hopital-details d-flex flex-column align-items-center justify-content-center">

            <!--image-->
            <div class='img d-flex justify-content-center'>
              <%= cl_image_tag hospital.photo.key, height: 60, width: 60, crop: :fill %>
            </div>


            <!--div avec le texte et les elements à l'interieur-->


              <div>
                <!--texte-->
                <p><i class="fa-solid fa-location-dot"></i>&nbsp;<%= hospital.address %></p>

              </div>

            </div>

          </div>

              <div class="d-flex justify-content-around">
                <!--texte-->
                <p><i class="fa-solid fa-person-walking"></i> <%= hospital.distance_to([@latitude, @longitude]).round %> km</p>
                <p><i class="fa-solid fa-solid fa-clock"></i> 1h30</p>
                <p><i class="fa-solid fa-solid fa-map"></i> <%= hospital.distance_to([@latitude, @longitude]).round * 5 %> min</p>
              </div>

          <!--div boutons containers avec les deux boutons à l'interieur-->

              <div class="d-flex justify-content-around">
                <%= button_to "Détails", hospital_path(hospital), method: :get, class: "btn-secondary", params: { category: params[:category], latitude: @latitude, longitude: @longitude} %>
                <%= button_to "Choisir", appointments_path, method: :post, class: "btn-third", params: { hospital_id: hospital.id, category: params[:category]} %>
              </div>

        </div>

      <% end %>
    </div>
