<%#= cl_image_tag @hospital.photo.key, height: 300, width: 400, crop: :fill %>
<!--<div class= "main-container-pixel17 main-container-content">-->

<h1>Détails</h1>

  <div class="card-category-hospital-new no-padding">
    <div class="d-flex flex-column">
      <!--image-->
      <div class="d-flex justify-content-center img-card">
        <%= cl_image_tag @hospital.photo.key, crop: :fill, radius: "16:16:0:0", width: 375, height: 280, gravity: :north %>
      </div>
    </div>
    <!--Nom de l'hopital -->
    <h2 class="h2-new"> <%= @hospital.name %> </h2>

    <div class="hopital-details-new d-flex justify-content-between padding-card">
      <div class="d-flex flex-column card-width">
        <p class="icon-size address-card"> <%= @hospital.address %> </p>
      </div>

      <div class="d-flex justify-content-around flex-column text-end flex-grow-1">
        <div class="d-flex justify-content-start gap-3 icons-new">
          <div class="flex-column"><p class="icon-size">&nbsp;<i class="fa-solid fa-person-walking"></i></p></div>
          <div class="flex-column"><p class="icon-size"> <%= @hospital.distance_to([@latitude, @longitude]).round %> km </p></div>
        </div>

        <div class="d-flex justify-content-start gap-3 icons-new">
          <div class="flex-column"><p class="icon-size"><i class="fa-solid fa-solid fa-clock"></i></p></div>
          <div class="flex-column"><p class="icon-size"> 1h 30 </p></div>
        </div>

        <div class="d-flex justify-content-start gap-3 icons-new">
          <div class="flex-column"><p class="icon-size"><i class="fa-solid fa-solid fa-map"></i></p></div>
          <div class="flex-column"><p class="icon-size"> <%= @hospital.distance_to([@latitude, @longitude]).round * 5 %> min </p></div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between buttons-card">
      <%= button_to "Détails", hospital_path(@hospital), method: :get, class: "btn-primary-home-new", params: { category: params[:category], latitude: @latitude, longitude: @longitude} %>
      <%= button_to "Choisir", appointments_path, method: :post, class: "btn-secondary-home-new", params: { hospital_id: @hospital.id, category: params[:category]} %>
    </div>
  </div>

                <div class="card-category-hospital-new">
                  <h2>Spécialités</h2>

                  <% if @categories.any? %>

                    <div class="specialities">

                    <% @categories.each_with_index do |category, index| %>
                      <!-- Chaque bloc de catégories -->
                        <%= link_to category.name, "#", class: "btn-specialty-#{index + 1} align-categories" %>
                    <% end %>
                    </div>
                  <% else %>
                    <p>Aucune spécialité n'est associée à cet hôpital.</p>
                  <% end %>
                </div>

                <div class= "card-category-hospital-new">
                  <h2>Localisation</h2>
                  <div class='img d-flex justify-content-center '>

                    <div style="width: 100%; height: 600px;"
                      data-controller="map"
                      data-map-marker-value="<%= @marker.to_json %>"
                      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
                    <%#= image_tag 'Hospital-pix/itinirary-mini.png', alt: 'Itinirary-mini', style: 'width: 100%; height: auto; overflow: hidden; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;' %>
                </div>
                </div>

            <div class="d-flex justify-content-around">
              <%= button_to "Retour", hospitals_path, method: :get, class: "btn-secondary", params: {category: params[:category]}%>
              <%= button_to "Choisir", appointments_path, method: :post, class: "btn-third", params: { hospital_id: @hospital.id, category: params[:category]}%>
            </div>

  </div>
<div class="footer-space"></div>
<!--</div>-->
