<h2><%=@hospital.name%></h2>
<p><%= @hospital.address%></p>
<p><%= @hospital.doctor_nb %></p>
<p><%= @hospital.latitude %></p>
<p><%= @hospital.longitude %></p>


<div class="main-container-pixel7">


</div>
