<div class= "cards-hospital">
        <div class= "card-category-alert img">
          <%#= image_tag 'Hospital-pix/itinirary.jpg', alt: 'Itinirary', class: "img" %>
          <div style="width: 100%; height: 600px;"
                      data-controller="itinerary"
                      data-itinerary-marker-value="<%= @marker.to_json %>"
                      data-itinerary-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
        </div>
</div>

<div class= "cards-hospital ">
      <div class= "card-category-alert">
         <div class="d-flex justify-content-around">
                      <%= link_to "Olocal, 18 Port Etienne", "#", class: "btn-third-big img h4" %>
                  </div>
      </div>
</div>
<div class= "cards-hospital ">
      <div class= "card-category-alert">
         <div class="d-flex justify-content-around">
                      <%= link_to "CHU Rangueil, pl St Joseph", "#", class: "btn-third-big img h4" %>
                  </div>
      </div>
</div>

</div>


<div class="d-flex justify-content-center">
<%= button_to "Arrivé", appointment_arrived_path(@appointment), method: :get, class: "btn-secondary" %>
</div>
