<!--<div class="main-container-pixel7 main-container-content">-->

<div class="appointment-scroll">
  <h1 class="mt-4">File d'attente</h1>
  <div class="cards-hospital">

    <div id="first-card" class="card-category-hospital">
      <div class="d-flex flex-column align-items-center justify-content-center">

        <h2 id="hospital-appointment"><%= @appointment.hospital.name %></h2>
        <h3 class="h3-appointment"><%= @appointment.category.name %></h3>
      </div>
    </div>

    <div class="card-category-hospital my-2">
      <div id="icons" class="d-flex flex-column align-items-center justify-content-center">
        <div>
              <div class="d-flex justify-content-around">
                <% count = @waiting_list.length %>
                <h2 class="icon-appointment">
                  <i id="clock" class="fa-solid fa-user-clock">&nbsp;&nbsp;&nbsp;<%= count - 1 %></i>
                </h2>
              </div>

          <p><strong>nombre de patients avant vous</strong></p>
        </div>
      </div>
    </div>

    <div class="card-category-hospital">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div id="waiting-list-card">
          <div id="waiting-list-inner">
            <% @waiting_list.each_with_index do |waiting, index| %>
              <div id="line" class="d-flex justify-content-around">

                  <% if waiting.id == @waiting_list.last.id %>
                    <div class="d-flex justify-content-around float-container">
                      <p id="you-1" class="entry float-child-1"><i id="you" class="fa-solid fa-circle-user"></i><%= " Vous " %></p>
                      <p id="you-2" class="entry float child-2">Order: <%= "#{index + 1} " %></p>
                    </div>
                  <% else %>
                    <div class="d-flex justify-content-around float-container">
                      <p class="entry float-child-1"><i id="patient" class="fa-solid fa-circle-user"></i><%= " Patient no. #{waiting.id} " %></p>
                      <p class="entry float-child-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Order:<%= " #{index + 1} " %></p>
                    </div>
                  <% end %>

              </div>
            <% end%>
          </div>
        </div>
      </div>
    </div>

    <%= link_to "Delete", appointment_delete_from_queue_path(@appointment, leaves_id: @leaves_queue.id), remote: true, method: :get %>

    <div class="card-category-hospital no-padding mt-2">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div id="time-header" class="d-flex flex-column align-items-center justify-content-center">
          <h3 class="time-appointment">Temps estimé</h3>
        </div>

        <div id="time-value" class="d-flex flex-column align-items-center justify-content-center">
          <!-- Countdown Area -->
          <div id="test">
            <div data-controller="countdown"
                data-countdown-from-value="<%= @start_time_iso %>"
                data-countdown-to-value="<%= @end_time_iso %>">

              <div data-countdown-target="during" data-countdown-action="click->countdown#" class="countdown-card" style="position: relative; display: block; color: black;">
                <!-- Displaying the remaining time -->
                <h3 class="time">
                  <time data-countdown-target="remainingTime"></time>
                </h3>

                <!-- Fast Forward Toggle Button (Real button) -->
                <button data-countdown-target="fastForwardToggle"
                      style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0); border: none; cursor: pointer;">
                </button>

              </div>

              <!-- Button trigger modal -->
              <!-- button pour le modal doit être là pour être accessible pour le data-controller, CSS -> display:none -->
              <button id="modal-button" data-countdown-target="modalButton" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog mt-5">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">

          <!-- <div class= "main-container-pixel17 main container-content"> -->

            <div class= "cards-hospital">
              <div class= "card-category-alert " >
                <p><i class="fa-solid fa-bell icon-big"></i></p>
                <h1 class="h1-modal">Vous pouvez prendre la route !</h1>
              </div>
            </div>

            <div class= "cards-hospital">
              <div class= "card-category-alert" >
                <h2 class="h2-modal d-flex align-items-start"><i class="fa-solid fa-hospital small-icon"></i> Il reste <%= @waiting_list.length - 1 %> personnes avant vous</h2>
              </div>
            </div>

            <div class= "cards-hospital">
              <div class= "card-category-alert" >
                <!-- récuperer la bonne valeur -->
                <% @duration = 30 %>
                <h2 class="h2-modal d-flex align-items-start"><i class="fa-solid fa-map-location-dot small-icon"></i> Vous avez <%= @duration %> minutes de route</h2>
              </div>
            </div>

            <div class= "cards-hospital">
              <div class= "card-category-alert" >
                <h2 class="h2-modal d-flex align-items-start"><i class="fa-sharp fa-solid fa-magnifying-glass-location small-icon"></i> Rejoignez <br> <%= @hospital.name %> <br> au <br> <%= @hospital.address %> </h2>
              </div>
            </div>

            <!-- <div class= "cards-hospital">
              <div class= "card-category-alert img">
                  <%= image_tag 'logo.png', alt: 'Logo', class: "img" %>
              </div>
            </div> -->


            <div class= "cards-hospital ">
              <div class= "card-category-alert">
                <div class="d-flex justify-content-around">

                  <!-- <%= link_to "Prenez la route !", appointment_map_path(@appointment.id), method: :get, class: "btn-primary-home" %> -->

                  <%= button_to "Prenez la route !", appointment_map_path(@appointment), method: :get, class: "btn-primary-home", params: { appointment_id: @appointment.id}%>

                </div>
              </div>
            </div>

          <!--</div> container pixel 7 -->

        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<!--</div>-->
  <div class="footer-space"></div>
</div>
