<div>
  <h1>File d'attente</h1>

  <div>
    <h2><%= @appointment.hospital.name %></h2>
    <h3><%= @appointment.category.name %></h3>
  </div>

  <div>
    <ul>
      <li><i class="fa-solid fa-user-clock"></i></li>
      <li><i class="fa-solid fa-circle-notch"></i></li>
      <div>
        <% count = @waiting_list.length %>
        <%= count - 1 %>
      </div>
    </ul>
    <p>patients dans la file d'attente avant vous</p>
  </div>

  <div>
    <div id="waiting-list-card">
      <div id="waiting-list-inner">
        <% @waiting_list.each_with_index do |waiting, index| %>
          <div>
            <i class="fa-solid fa-circle-user"></i>
            <% if waiting.id == @waiting_list.last.id %>
              <%= "Vous Order:#{index + 1}" %>
            <% else %>
              <%= "Patient no. #{waiting.id} Order:#{index + 1}" %>
            <% end %>
          </div>
        <% end%>
      </div>
    </div>
  </div>

  <div>
    <div><h3>temps estimé</h3></div>
    <div>
      <% waiting_time = count * 20 %>
      <% hours = waiting_time / 60 %>
      <% minutes = waiting_time % 60 %>
      <% minutes = "00" if minutes == 0 %>
      <%= "#{hours.to_i}:#{minutes.to_s}" %>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <%= button_to "Show map", appointment_map_path(@appointment), method: :get, class: "btn-secondary" %>
      </div>
    </div>
  </div>
</div>

<!-- to be added to hospitals index choisir and hospital show choisir -->
<!-- <%= button_to "Choisir", appointments_path, method: :post %> -->
