<!--<div class="main-container-pixel7 main-container-content">-->
  <h1>File d'attente</h1>
  <div class="cards-hospital">

    <div id="first-card" class="card-category-hospital">
      <div class="d-flex flex-column align-items-center justify-content-center">

        <h2 id="hospital-appointment"><%= @appointment.hospital.name %></h2>
        <h3 class="h3-appointment"><%= @appointment.category.name %></h3>
      </div>
    </div>

    <div class="card-category-hospital">
      <div id="icons" class="d-flex flex-column align-items-center justify-content-center">
        <div>
              <div class="d-flex justify-content-around">
                <% count = @waiting_list.length %>
                <h2 class="icon-appointment">
                  <i id="clock" class="fa-solid fa-user-clock">&nbsp;&nbsp;&nbsp;<%= count - 1 %></i>
                </h2>
              </div>

          <p><strong>nombre de patients avant vous</strong></p>
        </div>
      </div>
    </div>

    <div class="card-category-hospital">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div id="waiting-list-card">
          <div id="waiting-list-inner">
            <% @waiting_list.each_with_index do |waiting, index| %>
              <div id="line" class="d-flex justify-content-around">

                  <% if waiting.id == @waiting_list.last.id %>
                    <div class="d-flex justify-content-around float-container">
                      <p id="you-1" class="entry float-child-1"><i id="you" class="fa-solid fa-circle-user"></i><%= " Vous " %></p>
                      <p id="you-2" class="entry float child-2">Order: <%= "#{index + 1} " %></p>
                    </div>
                  <% else %>
                    <div class="d-flex justify-content-around float-container">
                      <p class="entry float-child-1"><i id="patient" class="fa-solid fa-circle-user"></i><%= " Patient no. #{waiting.id} " %></p>
                      <p class="entry float-child-2">&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;Order:<%= " #{index + 1} " %></p>
                    </div>
                  <% end %>

              </div>
            <% end%>
          </div>
        </div>
      </div>
    </div>

    <div class="card-category-hospital">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div id="time-header" class="d-flex flex-column align-items-center justify-content-center">
          <h3 class="time-appointment">temps estimé</h3>
        </div>
        <div id="time-value" class="d-flex flex-column align-items-center justify-content-center">
          <% waiting_time = count * 20 %>
          <% hours = waiting_time / 60 %>
          <% minutes = waiting_time % 60 %>
          <% minutes = "00" if minutes == 0 %>
          <h3 class="time"><%= "#{hours.to_i}:#{minutes.to_s}" %></h3>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->
    <div class="d-flex justify-content-around">
      <button type="button" class="btn-primary-appointment" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Continuer
      </button>
    </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class= "main-container-pixel17 main container-content">

            <div class= "cards-hospital">
              <div class= "card-category-alert " >
                <p><i class="fa-solid fa-bell icon-big"></i></p>
                <h1>Vous pouvez prendre la route !</h1>
              </div>
            </div>

            <div class= "cards-hospital">
              <div class= "card-category-alert" >
                <h2><i class="fa-solid fa-hospital small-icon"></i> Il reste 4 personnes avant vous</h2>
              </div>
            </div>

            <div class= "cards-hospital">
              <div class= "card-category-alert" >
                <h2><i class="fa-solid fa-map-location-dot small-icon"></i> Vous avez 33 minutes de routes</h2>
              </div>
            </div>

            <div class= "cards-hospital">
              <div class= "card-category-alert" >
                <h2><i class="fa-sharp fa-solid fa-magnifying-glass-location small-icon"></i> Rejoignez le CHU Rangueil au 1 Av du professeur Jean Poulhès, 31400 Toulouse </h2>
              </div>
            </div>

            <div class= "cards-hospital">
              <div class= "card-category-alert img">
                  <%= image_tag 'logo.png', alt: 'Logo', class: "img" %>
              </div>
            </div>

            <div class= "cards-hospital ">
              <div class= "card-category-alert">
                <div class="d-flex justify-content-around">
                  <%= button_to "Prenez la route !", appointment_map_path(@appointment), method: :get, class: "btn-third img h4" %>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<!--</div>-->
